.App {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  justify-content: center;

}
.gutter-example{
  /*height: 100%;*/
}


.card-style{
  display: flex;
  flex-direction: column;
}